@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Public+Sans:wght@100&display=swap');

body{
    font-family: 'Jost', sans-serif;
    font-family: 'Public Sans', sans-serif;
    color:white;
    text-shadow: 1px 1px 1px black;
}

#meses{
    position: absolute;
    padding: 10px;
    width: 90px;
    height: 100px;
    top:0;
    right:120px;
    background-color: blue;
    border: 2px solid black;
    font-size: 2em;
    text-align: center;
}

.poster, .info{
    margin:40px;
    border-radius: 10%;
}
#foto{
    border-radius: 10%;
}

.info, .inside{
    background-color: rgb(0, 100, 255);
    display: flex;
    flex-direction: row;
}
#left{
    width: 60%;
    float: left;
    align-items:center;
    margin-top: 50px;
    margin-left: 80px;
}
#right{
    width: 40%;
    float:right;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#image{
    width: 35%;
    float:left;
    align-items: center;
    margin-top: 20px;
}
#text{
    width: 65%;
    float:right;
    margin-top: 50px;
    margin-bottom: 20px;
}

h1, h2, h4, p{
    font-weight: bold;
}
h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.5em;
}
h4{
    font-size: 1.5em;
    color:yellow;
}

#receta{
    position: absolute;
    padding: 10px;
    width: 120px;
    height: 60px;
    top:930px;
    right:25px;
    color:red;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    transform: rotate(45deg);
}

.foot{
    margin-bottom: 20px;
    margin-right: 100px;
    text-align: right;
    color: black;
    text-shadow: none;
}